<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Login</h1></mat-card-title>
  </mat-card-header>
  <div class="inputform">

    <mat-input-container floatPlaceholder="auto">
      <input matInput formControlName="formControlName" type="text" required placeholder="email">
    </mat-input-container>

    <mat-input-container floatPlaceholder="auto">
      <input matInput formControlName="formControlName" type="password" required placeholder="password">
    </mat-input-container>

    <button mat-button (click)="onClickLogin()">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </div>
</mat-card>
